@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-size: 1em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    --body-background: #f0f0f0;
    --button-rose: #F6949E;
    --card-rose: #F6CACF;
    --pigbank-red: #FB4A4A;
    --footer-background: #333333;
    --title-blue: #5B79F1;
}