.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title::before {
    content: "";
    width: 30%;
    height: 1rem;
    background-color: var(--title-blue);
}

.title::after {
    content: "";
    width: 30%;
    height: 1rem;
    background-color: var(--title-blue);
}