.card {
    width: 680px;
    height: 120px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--card-rose);
}

.coin-name-out {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-name-in {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.coin-name-out::after {
    content: '';
    height: 80%;
    width: 2.5px;
    display: flex;
    background-color: black;
}

.coin-info {
    width: 60%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#name {
    white-space: nowrap;
}

#initials {
    font-size: 5rem;
    line-height: 5rem;
}

#last-updated {
    color: #00000080;
    font-size: 1.2rem;
}